<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Grid</title>
        <style>
            .grid {
                display: grid;
                grid-template-columns: repeat(3, 50px);
                gap: 5px;
            }
            .grid div {
                width: 50px;
                height: 50px;
            }
        </style>
    </head>
    <body>
        <div class="slider-container">
            <input type="range" id="mySlider" min="0" th:max="${maxTime - 1}" value="0">
            <span id="sliderValue">0</span>
        </div>
        <div class="grid" id="gr"></div>
        <script th:inline="javascript">
            const count = [[${count}]];
            const colors = [[${colors}]];

            function createSquares() {
                var grid = document.getElementById('gr');
                grid.style.gridTemplateColumns = 'repeat(' + count + ', 50px)';
                for (var y = 0; y < count; y++) {
                    for (var x = 0; x < count; x++) {
                        var node = document.createElement("div");
                        node.id = '0-' + y + '-' + x;
                        node.style.background = colors['0-' + y + '-' + x] ?? 'white';
                        grid.appendChild(node);
                    }
                }
            }

            const slider = document.getElementById("mySlider");
            const sliderValue = document.getElementById("sliderValue");

            slider.addEventListener("input", function () {
                sliderValue.textContent = slider.value;
                for (var y = 0; y < count; y++) {
                    for (var x = 0; x < count; x++) {
                        var node = document.getElementById('0-' + y + '-' + x);
                        node.style.background = colors[slider.value + '-' + y + '-' + x] ?? 'white';
                    }
                }
            });

            // Ejecutar al cargar
            createSquares();
        </script>
    </body>
</html>